*.swp
logs
project/project
project/target
target
/.target
tmp
.history
.cache
.directory
/.settings
dist
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/bin
/.worksheet
*.sc
conf/version
conf/local.conf
data
projectFilesBackup
/service/src/main/resources/application.conf
/service/src/main/resources/sensitive.conf
.cache-main
.classpath
.settings
.project
.cache-tests